div.card {
    width: 400px;
    height: 400px;
    background: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding-top: 10px;
    margin: 20px;
}

div.cardimg{
    width:90%;
    height:50%;
    position:relative;
    margin: 20px;
}

div.cardText{
    padding:20px;
}