.topmenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: whitesmoke;
    border-bottom: 1px solid #e9ecef;
    width: 100vw;
    height: 20vh;
    position: fixed;
    z-index: 100;
    justify-content: space-between;
}